__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# Heavy Folders (Frontend/Build)
node_modules/
dist/
.env
.vercel/

# ML Models
models/*.pkl

# Logs
logs/*.txt

# Dataset
dataset/*.csv

# OS
.DS_Store
Thumbs.db
